
#loading{
    position: relative;
    background-color: white;
    border-radius: 10px;
    height: 3px;
    transition: width 0.5s;
}

.icon img{
    width: 50px;
}

.file *{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-family: sans-serif;
}

.file{
    margin: 10px;
}

.file:hover{
    background-color: rgb(217, 217, 217);
}

.delete{
    right: 20px;
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.name{
    width: 200px;
}

#drop1{
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

#path{
    font-size: 30px;
    padding: 10px;
    display: inline-block;
}

#createFolder{
    text-align: center;
    background-color: #F4A261;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

body{
    background-color: #264653;
    color: white;
}

#parentButton{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    background-color: #2A9D8F;
    border-radius: 100px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

#loadingBar{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 10px;
}
