.icon img{
    width: 50px;
}

.file *{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-family: sans-serif;
}

.file{
    margin: 10px;
}

.file:hover{
    background-color: rgb(217, 217, 217);
}

.delete{
    right: 20px;
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.name{
    width: 200px;
}

#drop1{
    height: 100vh;
    padding: 0px;
    margin: 0px;
}